openapi: "3.0.0"
info:
    title: Citrination
    version: 1.0.0
    description: API for access to Citrination
    termsOfService: https://citrination.com/tos
    contact:
        name: Citrine Informatics
        email: admin@citrine.io
        url: https://citrine.io
    license:
        name: Apache License Version 2.0
        url: https://www.apache.org/licenses/LICENSE-2.0
servers:
    - url: https://citrination.com/api
components:
    schemas:
        DatasetQuery:
            type: object
            description: A query against a Dataset.
            properties:
                logic:
                    $ref: '#/components/x-simple-types/logic'
                simple:
                    $ref: '#/components/x-simple-types/simple'
                id:
                    type: array
                    items:
                        $ref: '#/components/schemas/Filter'
                    nullable: true
                    default: null
                    description: Queries against the ID of a dataset.
                isFeatured:
                    type: array
                    items:
                        $ref: '#/components/schemas/BooleanFilter'
                    nullable: true
                    default: null
                    description: Queries against the isFeatured field of a dataset.
                name:
                    type: array
                    items:
                        $ref: '#/components/schemas/Filter'
                    nullable: true
                    default: null
                    description: Queries against the name of a dataset.
                description:
                    type: array
                    items:
                        $ref: '#/components/schemas/Filter'
                    nullable: true
                    default: null
                    description: Queries against the description of a dataset.
                owner:
                    type: array
                    items:
                        $ref: '#/components/schemas/Filter'
                    nullable: true
                    default: null
                    description: Queries against the name of the owner of a dataset.
                email:
                    type: array
                    items:
                        $ref: '#/components/schemas/Filter'
                    nullable: true
                    default: null
                    description: Queries against the email address of the owner of a dataset.
                query:
                    type: array
                    items:
                        $ref: '#/components/schemas/DatasetQuery'
                    nullable: true
                    default: null
                    description: Nested dataset queries. Queries can nest as deeply as needed in order to create complex combinations of boolean logical operations.
        BooleanFilter:
            type: object
            description: A filter against the value of a boolean-typed field.
            properties:
                logic:
                    $ref: '#/components/x-simple-types/logic'
                exists:
                    $ref: '#/components/x-simple-types/exists'
                equal:
                    type: boolean
                    nullable: true
                    default: null
                    description: True to match true values. False to match false values.
                filter:
                    type: array
                    items:
                        $ref: '#/components/schemas/BooleanFilter'
                    nullable: true
                    default: null
                    description: Nested boolean filters. Filters can nest as deeply as needed in order to create complex combinations of boolean logical operations.
        Filter:
            type: object
            description: An equality or range filter against a single field.
            properties:
                logic:
                    $ref: '#/components/x-simple-types/logic'
                exists:
                    $ref: '#/components/x-simple-types/exists'
                equal:
                    type: string
                    nullable: true
                    default: null
                    description: The string the match. This is executed as a phrase query meaning that the exact phrase in this string must be present in a record to match.
                min:
                    type: string
                    nullable: true
                    default: null
                    description: If the input value is non-numeric, or the field being searched does not support numbers, then this is the lexographical minimum of values to match. If the input value is numeric and the field being searched supports numbers, then this is the minimum numeric value to match.
                max:
                    type: string
                    nullable: true
                    default: null
                    description: If the input value is non-numeric, or the field being searched does not support numbers, then this is the lexographical maximum of values to match. If the input value is numeric and the field being searched supports numbers, then this is the maximum numeric value to match.
                exact:
                    type: boolean
                    nullable: true
                    default: null
                    description: When the value in the in _equal_ field must match exactly the entire value in the field being searched. For example, with _equal_ set to "gap" and _exact_ set to false, the filter will match against a field that contains "band gap". However, with _equal_ set to "gap" and _exact_ set to false, the filter will not match "band gap"; it will only match against a field that contains only the word "gap".
                filter:
                    type: array
                    items:
                        $ref: '#/components/schemas/Filter'
                    nullable: true
                    default: null
                    description: Nested filters. Filters can nest as deeply as needed in order to create complex combinations of boolean logical operations.
        Dataset:
            type: object
            description: Information about a dataset on Citrination. Datasets are folders of files and/or records that have an associated description and owner.
            properties:
                id:
                    type: string
                    nullable: true
                    default: null
                    description: The unique ID of the dataset.
                name:
                    type: string
                    nullable: true
                    default: null
                    description: The owner-defined name of the dataset.
                description:
                    type: string
                    nullable: true
                    default: null
                    description: The owner-defined description of the dataset.
                owner:
                    type: string
                    nullable: true
                    default: null
                    description: The name of the owner of the dataset.
                email:
                    type: string
                    nullable: true
                    default: null
                    description: The email address of the owner of the dataset.
                isFeatured:
                    type: boolean
                    nullable: true
                    default: null
                    description: Whether the dataset is a featured one. A null value implies that the dataset is not featured.
        System:
            type: object
            description: A generic representation of a physical system.
            properties:
                uid:
                    type:
                    nullable: true
                    default: null
                    description:
                names:
                    type: array
                    items:
                        type: string
                    nullable: true
                    default: null
                    description:
                ids:
                    type: array
                    items:
                        $ref: '#/components/schemas/Id'
                    nullable: true
                    default: null
                    description:
                classifications:
                    type: array
                    items:
                        $ref: '#/components/schemas/Classification'
                    nullable: true
                    default: null
                    description:
                source:
                    nullable: true
                    default: null
                    $ref: '#/components/schemas/Source'
                quantity:
                    nullable: true
                    default: null
                    $ref: '#/components/schemas/Quantity'
        ChemicalSystem:
            type: object
            description: A physical system that contains chemical information.
            properties:

                how do deal with polymorphism


        Classification:
            type: object
            description:
            properties:
        DisplayItem:
            type: object
            description:
            properties:
        FileReference:
            type: object
            description:
            properties:
        Id:
            type: object
            description:
            properties:
        Instrument:
            type: object
            description:
            properties:
        License:
            type: object
            description:
            properties:
        Method:
            type: object
            description:
            properties:
        Name:
            type: object
            description:
            properties:
        Pages:
            type: object
            description:
            properties:
        Person:
            type: object
            description:
            properties:
        ProcessStep:
            type: object
            description:
            properties:
        Property:
            type: object
            description:
            properties:
        Quantity:
            type: object
            description:
            properties:
                actual_mass_percent:
                    type:
                    nullable: true
                    default: null
                    description:
                actual_volume_percent:
                    type:
                    nullable: true
                    default: null
                    description:
                actual_number_percent:
                    type:
                    nullable: true
                    default: null
                    description:
                ideal_mass_percent:
                    type:
                    nullable: true
                    default: null
                    description:
                ideal_volume_percent:
                    type:
                    nullable: true
                    default: null
                    description:
                ideal_number_percent:
                    type:
                    nullable: true
                    default: null
                    description:
                tags:
        Reference:
            type: object
            description:
            properties:
        Scalar:
            type: object
            description:
            properties:
        Software:
            type: object
            description:
            properties:
        Source:
            type: object
            description: The source (producer) of a system.
            properties:
                producer:
                    type: string
                    nullable: true
                    default: null
                    description: The producing entity of the system.
                url:
                    type: string
                    nullable: true
                    default: null
                    description: The URL at which the producer can be accessed.
                tags:
                    type: array
                    items:
                        type: string
                    nullable: true
                    default: null
                    description: Any number of tags to apply to the source.
        Value:
            type: object
            description:
            properties:
        Composition:
            type: object
            description:
            properties:
    x-simple-types:
        logic:
            type: string
            enum: [SHOULD, MUST, MUST_NOT, OPTIONAL, null]
            nullable: true
            default: null
            description: When multiple queries appear in a list, the logic defines the way in which each will be interpreted. "SHOULD" is equivalent to boolean _OR_ logic. "MUST" is eqivalent to boolean _AND_ logic. "MUST_NOT" is equivalent to boolean _NOT_ logic. "OPTIONAL" does not have an effect on whether a record matches; the specific query element is ignored during the primary search for records in scope. However, "OPTIONAL" queries are executed on subsequent steps such as extractions and data statistics gathering. When logic is set to a null value, it is interpreted as "SHOULD".
        exists:
            type: boolean
            nullable: true
            default: null
            description: When set to true, the field must exist and have a non-null value. When set to false, the field must not exist or, if it does exist, must have a null value.
        simple:
            type: string
            nullable: true
            default: null
            description: A string that is run against all fields in this object and their children. Strings are tokenized on whitespace unless surrounded by quotes. For example, _GaN "band gap"_ tokenizes to _GaN_ and _band gap_ where each token must match the entire phrase in a record. Tokens are executed with boolean OR logic. Therefore, _GaN "band gap"_ matches records that contain _GaN_ or _band gap_. Since simple filters are, in this way, extremely inclusive operations, it is typically recommended that relevancy scoring be turned on for the query so that the records that match the most values are ranked the highest.
