openapi: "3.0.0"
info:
    title: Citrination
    version: 1.0.0
    description: API for access to Citrination
    termsOfService: https://citrination.com/tos
    contact:
        name: Citrine Informatics
        email: admin@citrine.io
        url: https://citrine.io
    license:
        name: Apache License Version 2.0
        url: https://www.apache.org/licenses/LICENSE-2.0
servers:
    - url: https://citrination.com/api
components:
    schemas:
        DatasetQuery:
            description: A query against a [Dataset](#/components/schemas/Dataset').
            properties:
                logic:
                    $ref: '#/components/x-types/logic'
                simple:
                    $ref: '#/components/x-types/simple'
                id:
                    type: array
                    items:
                        $ref: '#/components/schemas/Filter'
                    default: null
                    description: Queries against the ID of a dataset.
                isFeatured:
                    type: array
                    items:
                        $ref: '#/components/schemas/BooleanFilter'
                    default: null
                    description: Queries against the isFeatured field of a dataset.
                name:
                    type: array
                    items:
                        $ref: '#/components/schemas/Filter'
                    default: null
                    description: Queries against the name of a dataset.
                description:
                    type: array
                    items:
                        $ref: '#/components/schemas/Filter'
                    default: null
                    description: Queries against the description of a dataset.
                owner:
                    type: array
                    items:
                        $ref: '#/components/schemas/Filter'
                    default: null
                    description: Queries against the name of the owner of a dataset.
                email:
                    type: array
                    items:
                        $ref: '#/components/schemas/Filter'
                    default: null
                    description: Queries against the email address of the owner of a dataset.
                query:
                    type: array
                    items:
                        $ref: '#/components/schemas/DatasetQuery'
                    default: null
                    description: Nested dataset queries. Queries can nest as deeply as needed in order to create complex combinations of boolean logical operations.
        BooleanFilter:
            properties:
                logic:
                    $ref: '#/components/x-types/logic'
                exists:
                    $ref: '#/components/x-types/exists'
                equal:
                    type: boolean
                    default: null
                    description: True to match true values. False to match false values.
                filter:
                    type: array
                    items:
                        $ref: '#/components/schemas/BooleanFilter'
                    default: null
                    description: Nested boolean filters. Filters can nest as deeply as needed in order to create complex combinations of boolean logical operations.
        Filter:
            properties:
                logic:
                    $ref: '#/components/x-types/logic'
                exists:
                    $ref: '#/components/x-types/exists'
                equal:
                    type: string
                    default: null
                    description: The string the match. This is executed as a phrase query meaning that the exact phrase in this string must be present in a record to match.
                min:
                    type: string
                    default: null
                    description: If the input value is non-numeric, or the field being searched does not support numbers, then this is the lexographical minimum of values to match. If the input value is numeric and the field being searched supports numbers, then this is the minimum numeric value to match.
                max:
                    type: string
                    default: null
                    description: If the input value is non-numeric, or the field being searched does not support numbers, then this is the lexographical maximum of values to match. If the input value is numeric and the field being searched supports numbers, then this is the maximum numeric value to match.
                exact:
                    type: boolean
                    default: null
                    description: When the value in the in _equal_ field must match exactly the entire value in the field being searched. For example, with _equal_ set to "gap" and _exact_ set to false, the filter will match against a field that contains "band gap". However, with _equal_ set to "gap" and _exact_ set to false, the filter will not match "band gap"; it will only match against a field that contains only the word "gap".
                filter:
                    type: array
                    items:
                        $ref: '#/components/schemas/Filter'
                    default: null
                    description: Nested filters. Filters can nest as deeply as needed in order to create complex combinations of boolean logical operations.
        Dataset:
            description: Information about a dataset on Citrination. Datasets are folders of files and/or records that have an associated description and owner.
            properties:
                id:
                    type: string
                    default: null
                    description: The unique ID of the dataset.
                name:
                    type: string
                    default: null
                    description: The owner-defined name of the dataset.
                description:
                    type: string
                    default: null
                    description: The owner-defined description of the dataset.
                owner:
                    type: string
                    default: null
                    description: The name of the owner of the dataset.
                email:
                    type: string
                    default: null
                    description: The email address of the owner of the dataset.
                isFeatured:
                    type: boolean
                    default: null
                    description: Whether the dataset is a featured one. A null value implies that the dataset is not featured.
        Classification:
            properties:
    x-types:
        logic:
            type: string
            enum: [SHOULD, MUST, MUST_NOT, OPTIONAL, null]
            default: null
            description: When multiple queries appear in a list, the logic defines the way in which each will be interpreted. "SHOULD" is equivalent to boolean OR logic. "MUST" is eqivalent to boolean AND logic. "MUST_NOT" is equivalent to boolean NOT logic. "OPTIONAL" does not have an effect on whether a record matches; the specific query element is ignored during the primary search for records in scope. However, "OPTIONAL" queries are executed on subsequent steps such as extractions and data statistics gathering. When logic is set to a null value, it is interpreted as "SHOULD".
        exists:
            type: boolean
            default: null
            description: When set to true, the field must exist and have a non-null value. When set to false, the field must not exist or, if it does exist, must have a null value.
        simple:
            type: string
            default: null
            description: A string that is run against all fields in this object and their children. Strings are tokenized on whitespace unless surrounded by quotes. For example, _GaN "band gap"_ tokenizes to _GaN_ and _band gap_ where each token must match the entire phrase in a record. Tokens are executed with boolean OR logic. Therefore, _GaN "band gap"_ matches records that contain _GaN_ or _band gap_. Since simple filters are, in this way, extremely inclusive operations, it is typically recommended that relevancy scoring be turned on for the query so that the records that match the most values are ranked the highest.
